.company {
  z-index: 1000;
  border-radius: 28% 28% 0 0;
  padding: 10px;
  margin-bottom: -9px;
  background-color: #fff;
  width: 16%;
  -webkit-box-shadow: 0px -4px 11px 0px rgba(0, 0, 0, 0.65);
  box-shadow: 1px -6px 10px -8px rgba(0, 0, 0, 0.65);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 415px;
  max-width: 415px;
  min-height: 300px;
  max-height: 300px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.46);
  padding: 22px 30px 20px 45px;
  margin-top: 50px;
  margin-bottom: 20px;
  overflow: auto;
  scrollbar-color: #0c92c3 #eaf7fc;
  scrollbar-width: thin;

  @media screen and (max-width: 700px) {
    min-width: 275px;
    max-width: 275px;
    min-height: 300px;
    max-height: 300px;
  }

  .header-container {
    .title-sub {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 7px;
    }
    h5 {
      font-size: 20px;
      margin: 0;
      margin-top: 3px;
    }
    h6 {
      font-size: 17px;
      margin: 0;
    }
    span {
      color: #009ddc;
      font-weight: 600;
    }
  }
  .description-container {
    .description {
      font-size: 14px;
      margin-top: 25px;
    }
    .contract-type {
      font-size: 15px;
      margin-bottom: 20px;
      margin-top: 0px;
    }
  }
  .expand-button {
    border: none;
    background: none;
    color: #dd0555;
    text-decoration: underline;
    font-size: 12px;
  }
  .compress-button {
    border: none;
    background: none;
    color: #dd0555;
    text-decoration: underline;
    margin-bottom: 20px;
    margin-left: 3px;
    font-size: 12px;
  }
}
.all-stacks {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  .stacks {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    span {
      padding: 5px;
      opacity: 0.6;
      margin: 3px 7px 3px 0;
      border-radius: 4px;
      font-size: 13px;
    }
  }
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: -15px;
  margin-top: 12px;
  button {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    img {
      width: 20px;
    }
  }
}

.expand-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  img {
    margin-right: -10px;
    cursor: pointer;
  }
}

//expanded card
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d17396f;
  z-index: 1000;
  .opened-card {
    background-color: #fff;
    padding: 25px 20px;
    border-radius: 15px;
    width: 40%;
    max-height: 85vh;
    overflow: auto;
    .header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 15px;
        span {
          font-weight: 600;
          padding-left: 15px;
          clip-path: polygon(88% 0, 100% 50%, 88% 100%, 0% 100%, 6% 50%, 0% 0%);
          background-color: #fab716;
          width: 50%;
          padding: 10px;
          padding-left: 35px;
          margin-left: -45px;
          margin-top: -8px;
          text-align: center;
        }
        button {
          border: none;
          //background-color: #dd0555;
          background-color: transparent;
          color: #fff;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }

  .data-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 25px;
    .title {
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 5px;
    }
  }

  .description {
    padding: 10px 25px;
    text-align: justify;
  }

  .application-container {
    display: flex;
    flex-direction: row;
    padding: 10px 25px;
    form {
      width: 100%;
      div {
        input {
          padding: 0;
        }
      }
      button {
        margin-left: 10px;
        width: 115px;
        border: none;
        padding: 7px;
        font-size: 15px;
        border-radius: 5px;
        cursor: pointer;
        background-color: #009ddc;
        color: #fff;
      }
    }
  }
}
