<div class="card">
  <div>
    <div class="header-container">
      <div class="title-sub">
        <h5>{{role}}</h5>
        <!--
        <h6>{{companyName}}</h6>
        -->
        <img src="../../../assets/logo.png" alt="" width="80px">
      </div>
      <span>
        {{seniority}}
      </span>
    </div>
    <span *ngIf="remuneration" style="color: #333; font-weight: 500; font-size: 15px;">
      €{{remuneration}}
    </span>
    <span *ngIf="!remuneration && contratto !== 'Stage'"
      style="color: #999999; font-weight: 500; font-style: italic; font-size: 15px;">
      Renumerazione non disponibile
    </span>
    <span *ngIf="!remuneration && contratto === 'Stage'" style="color: #333; font-weight: 500; font-size: 15px;">
      {{contratto}}
    </span>
    <div class="description-container">
      <div *ngIf="!openDescription">
        <p class="description">{{description.slice(0, 60) + "..."}}
          <span (click)="showDescription()" class="expand-button">Leggere di più</span>
        </p>
      </div>
      <div *ngIf="openDescription">
        <div>
          <p class="description">{{description}}</p>
        </div>
        <div style="display: flex; flex-direction: row; align-items: center;">
          <p class="contract-type">
            <span style="font-weight: 600;">
              Tipo di contratto:
            </span>{{contratto}}
            <span (click)="showDescription()" class="compress-button">
              Leggere di meno
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="all-stacks">
      <div class="stacks">
        <span *ngFor="let requirement of frontend_tech" style="background-color: #60cffb;">{{requirement}}</span>
      </div>
      <div class="stacks">
        <span *ngFor="let requirement of backend_tech" style="background-color: #ff85b2;">{{requirement}}</span>
      </div>
      <div class="stacks">
        <span *ngFor="let requirement of devops_tech"
          style="background-color: rgb(127, 255, 249);">{{requirement}}</span>
      </div>
      <div class="stacks">
        <span *ngFor="let requirement of db_tech" style="background-color: #f6c554;">{{requirement}}</span>
      </div>
    </div>
  </div>
</div>