<div class="card">
  <div>
    <div class="header-container">
      <div class="title-sub">
        <h5>{{role}}</h5>
        <img src="../../../assets/logo.png" alt="" width="80px">
      </div>
      <span>
        {{seniority}}
      </span>
    </div>
    <span *ngIf="ral" style="color: #333; font-weight: 500; font-size: 15px;">
      €{{ral}}
    </span>
    <span *ngIf="!ral && contract !== 'Stage'"
      style="color: #999999; font-weight: 500; font-style: italic; font-size: 15px;">
      Renumerazione non disponibile
    </span>
    <span *ngIf="!ral && contract === 'Stage'" style="color: #333; font-weight: 500; font-size: 15px;">
      {{contract}}
    </span>
    <div class="description-container">
      <div *ngIf="!openDescription">
        <p class="description">{{description.slice(0, 60) + "..."}}</p>
      </div>

    </div>
    <div class="all-stacks">
      <div class="stacks">
        <span *ngFor="let requirement of frontend_tech" style="background-color: #60cffb;">{{requirement}}</span>
      </div>
      <div class="stacks">
        <span *ngFor="let requirement of backend_tech" style="background-color: #ff85b2;">{{requirement}}</span>
      </div>
      <div class="stacks">
        <span *ngFor="let requirement of devops_tech"
          style="background-color: rgb(115, 245, 238);">{{requirement}}</span>
      </div>
      <div class="stacks">
        <span *ngFor="let requirement of db_tech" style="background-color: #f6c554;">{{requirement}}</span>
      </div>
    </div>
  </div>
  <div *ngIf="cardIsOpen" class="expand-container" (click)="expandCard()">
    <img src="../../../assets/expand.png" alt="" width="25px">
  </div>
</div>

<!--EXPANDED JOB CARD-->
<div *ngIf="expandedCard" class="overlay">
  <div class="opened-card">
    <div class="header">
      <div>
        <span class="role-container">
          {{role}}
        </span>
        <button (click)="close()">
          <img src="../../../assets/compress.png" alt="" width="20px">
        </button>
      </div>
    </div>
    <div class="data-container">
      <span class="title">
        Seniority:
        <span style="font-size: 15px; color: #009DDC;">
          {{seniority}}
        </span>
      </span>
      <span class="title">
        Tipologia di Contratto:
        <span style="font-size: 15px; color: #009DDC;">
          {{contract}}
        </span>
      </span>
      <span class="title">
        RAL:
        <span *ngIf="ral" style="color: #333; font-weight: 500; font-size: 15px;">
          €{{ral}}
        </span>
        <span *ngIf="!ral && contract !== 'Stage'"
          style="color: #999999; font-weight: 500; font-style: italic; font-size: 15px;">
          Renumerazione non disponibile
        </span>
        <span *ngIf="!ral && contract === 'Stage'" style="color: #333; font-weight: 500; font-size: 15px;">
          {{contract}}
        </span>
      </span>
    </div>
    <div class="description">
      {{description}}
    </div>
    <div class="all-stacks" style="padding: 10px 25px;">
      <div class="stacks">
        <span *ngFor="let requirement of frontend_tech" style="background-color: #60cffb;">{{requirement}}</span>
      </div>
      <div class="stacks">
        <span *ngFor="let requirement of backend_tech" style="background-color: #ff85b2;">{{requirement}}</span>
      </div>
      <div class="stacks">
        <span *ngFor="let requirement of devops_tech"
          style="background-color: rgb(127, 255, 249);">{{requirement}}</span>
      </div>
      <div class="stacks">
        <span *ngFor="let requirement of db_tech" style="background-color: #f6c554;">{{requirement}}</span>
      </div>
    </div>
    <div class="application-container">
      <form [formGroup]="applyForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="file" id="file" formControlName="file" (change)="onFileSelect($event)" />
        </div>
        <div style="display: flex; justify-content: flex-end;">
          <button type="submit" class="btn btn-primary" [disabled]="!applyForm.valid">Postulati</button>
        </div>
      </form>

    </div>
  </div>
</div>