<div class="separator" style="border-bottom: 1px solid #FAB716;"></div>
<h3 style="color: #FAB716;">Media Content</h3>
<section id="articles-container">
  <div>
    <app-article [category]="'Case History'" [img]="'../../../assets/veryfile.png'"
      [title]="'Supporto a Veryfile per l\'implementazione IT negli Stati Uniti'"
      [description]="'Everience è stata recentemente coinvolta in un progetto sfidante e stimolante con Veryfile, che ci ha contattato per supportare l\'implementazione dell\'infrastruttura IT presso il cliente finale in due nuove sedi negli Stati Uniti: uno store a Miami e un ufficio a Hollywood. L\'obiettivo era...'"></app-article>
  </div>
</section>