<div class="separator" style="border-bottom: 1px solid #FAB716; margin: 0;"></div>
<h3 class="h3" style="color: #FAB716;">{{ 'MEDIA.TITLE' | translate }}</h3>
<h4>
  {{ 'MEDIA.SUBTITLE' | translate }}
</h4>
<section id="articles-container">
  <div *ngFor="let article of articlesList" class="card">
    <div class="flex" style="display: flex; width: 70%;">
      <!--Image && country badge-->
      <div class="graphic animated-box">
        <div class="category" appScrollAnimation="right" [ngClass]="'country-' + article.country">
          <h4>
            {{ ('MEDIA.COUNTRY.' + article.country) | translate }}
          </h4>
        </div>
        <div class="img-container" [ngStyle]="{'background-image': 'url(' + article.image + ')'}"></div>
      </div>
      <!--Text-->
      <div class="text-container">
        <h5>{{ article.titleKey | translate }}</h5>
        <p>{{ (article.descriptionKey | translate).slice(0, 220) + '...' }}</p>
        <button (click)="openFullArticle(article.id)">
          {{ 'MEDIA.READ_MORE' | translate }}
        </button>
      </div>
    </div>
  </div>
</section>