<div class="separator" style="border: 0.5px solid #c92a2a; margin: 0;"></div>
<section class="container">
  <div class="left-block">
    <div>
      <p class="paragraph">
        {{ 'CONTACT.INTRO' | translate }} <span>{{ 'CONTACT.INTRO_HIGHLIGHT' | translate }}</span>
      </p>
      <p class="second-paragraph">
        {{ 'CONTACT.HOURS_LINE1' | translate }}<br>
        {{ 'CONTACT.HOURS_LINE2' | translate }}
      </p>
    </div>
  </div>

  <div class="right-block">
    <div class="contact-data-container">
      <div>
        <img src="../../../assets/icons/address.png" alt="">
        <a href="https://www.google.com.ar/maps/place/Everience+Italia/@45.5182067,9.0368282,17z/data=!3m1!4b1!4m6!3m5!1s0x4786ecc9a4b311ab:0xca8a7d63f346e1b8!8m2!3d45.518203!4d9.0394031!16s%2Fg%2F12ls_46h1?entry=ttu&g_ep=EgoyMDI0MTIwOS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank">
          <p>Via Italo Calvino, 7, 20017 Rho MI, Italia</p>
        </a>
      </div>
      <div>
        <img src="../../../assets/icons/email.png" alt="">
        <p>example&#64;legalmail.it</p>
      </div>
      <div>
        <img src="../../../assets/icons/call.png" alt="">
        <p>02 93435263</p>
      </div>
    </div>
    <div class="line"></div>

    <div class="social">
      <a href="https://it.linkedin.com/company/everience-it" target="blank">
        <img src="../../../assets//icons/linkedin.png" alt="">
      </a>
      <a href="https://www.instagram.com/everienceitaly/" target="_blank"><img src="../../../assets/icons/instagram.png"
          alt=""></a>
      <a href="https://www.tiktok.com/@everience.italia" target="_blank"><img src="../../../assets/icons/tiktok.png"
          alt=""></a>
    </div>
  </div>
</section>
<div class="footer">
  <p>{{ 'FOOTER.REGISTRY_LABEL' | translate }}: 00000 | sadbjsa. |</p>
</div>