
.footer-dark {
  padding: 25px 20px 5px 20px;
  background-color: #bbbbbb38;
  color: #333;
}

.footer-dark h3 {
  margin: 0;
  margin-bottom: -10px;
  font-weight: bold;
}
@media (max-width:500px) {
  .footer-dark h3{
    font-size: 11px;
  }
}
@media (min-width:501px) {
  .footer-dark h3 {
    font-size: 14px;
  }
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.5;
  margin-bottom: 0;
  
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
  margin-bottom: 10px;
}
@media (max-width:500px) {
  .footer-dark ul a{
    font-size: 12px;
  }
}
  @media (min-width:501px) {
    .footer-dark ul a {
      font-size: 15px;
    }
  }

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
  }
}

.footer-dark .item.text {
  img{
    width: 130px;
  }
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
    img {
        width: 100px;
        margin-bottom: 20px;
      }
  }
}

@media (min-width:760px) {
  .footer-dark .item.text {
    margin-bottom: 0;
    text-align: center;
    img {
      width: 100px;
      margin-bottom: 20px;
    }
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
  font-size: 10px;
}

.footer-dark .item.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  img{
    width: 30px;
  }
}



@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 35px;
    display: flex;
      justify-content: center;
      align-items: center;
    
      img {
        width: 23px;
      }
  }
}

.footer-dark .item.social>a {
  width: 40px;
}

.footer-dark .item.social>a span{
  font-size: 13px;
}

.footer-dark .item.social>a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

@media (max-width:500px) {
  .logo{
    width: 100px;
  }
}
@media (min-width:501px) {
  .logo {
      width: 120px;
    }
}