<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div style="display: flex; justify-content: space-evenly; align-items: flex-start; flex-direction: row;">
          <div>
            <img src="../../../assets/logo.png" alt="" class="logo">
          </div>
          <div style="display: flex; justify-content: center; flex-direction: column;">
            <h3 style="margin-right: 25px;">Contatti</h3>
            <ul>
              <li>
                <a href="#">
                  <span>
                    everience&#64;legalmail.it
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>
                    02 93435263
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div style="display: flex; justify-content: center; flex-direction: column;">
            <h3>Services</h3>
            <ul>
              <li>
                <a href="#">
                  <span>
                    Case Studies
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>
                    Lavora con Noi
                  </span>
                </a>
              </li>
            </ul>
          </div>

        </div>
        <div class="item social">
          <a href="#"><img src="../../../assets/icons/instagram.png" alt=""></a>
          <a href="#"><img src="../../../assets/icons/linkedin.png" alt=""></a>
          <a href="#"><img src="../../../assets/icons/tiktok.png" alt=""></a>
        </div>

      </div>
      <div class="item text">
        <p>Everience S.p.A | P.IVA e CF: 07793240966 | Numero Registro Imprese di Milano Monza Brianza e Lodi:
          07793240966 | Capitale sociale: 51.048,00 € i.v. | REA: MI-1982399</p>
      </div>
    </div>
  </footer>
</div>