<div class="contact-us-container">
  <div class="contact-us-div">
    <h6>
      Contattaci ora
    </h6>
    <p>Entra in contatto con Everience</p>
    <button>
      Contattaci <i class="material-icons">arrow_right</i>
    </button>
  </div>
</div>
<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div style="display: flex; justify-content: space-evenly; align-items: flex-start; flex-direction: row;">
          <div>
            <img src="../../../assets/logo-white.png" alt="" class="logo">
          </div>
          <div style="display: flex; justify-content: center; flex-direction: column;">
            <h3 style="margin-right: 25px;"><i class="material-icons">location_on</i></h3>
            <ul>
              <li>
                <a href="https://www.google.com.ar/maps/place/Everience+Italia/@45.5182067,9.0368282,17z/data=!3m1!4b1!4m6!3m5!1s0x4786ecc9a4b311ab:0xca8a7d63f346e1b8!8m2!3d45.518203!4d9.0394031!16s%2Fg%2F12ls_46h1?entry=ttu&g_ep=EgoyMDI0MTIwOS4wIKXMDSoASAFQAw%3D%3D"
                  target="_blank">
                  <span>
                    Via Italo Calvino, 7
                  </span>
                </a>
              </li>
              <li>
                <a href="https://www.google.com.ar/maps/place/Everience+Italia/@45.5182067,9.0368282,17z/data=!3m1!4b1!4m6!3m5!1s0x4786ecc9a4b311ab:0xca8a7d63f346e1b8!8m2!3d45.518203!4d9.0394031!16s%2Fg%2F12ls_46h1?entry=ttu&g_ep=EgoyMDI0MTIwOS4wIKXMDSoASAFQAw%3D%3D"
                  target="_blank">
                  <span>
                    20017 Rho MI, Italia
                  </span>
                </a>
              </li>

            </ul>
          </div>
          <div style="display: flex; justify-content: center; flex-direction: column;">
            <h3><i class="material-icons">domain</i></h3>
            <ul>
              <li>
                <a href="#">
                  <span>
                    everience&#64;legalmail.it
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>
                    02 93435263
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="item social desktop">
            <a href="https://www.instagram.com/everienceitaly/" target="_blank"><img
                src="../../../assets/icons/instagram.png" alt=""></a>
            <a href="https://it.linkedin.com/company/everience-it" target="blank"><img
                src="../../../assets/icons/linkedin.png" alt=""></a>
            <a href="https://www.tiktok.com/@everience.italia" target="_blank"><img
                src="../../../assets/icons/tiktok.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="item text">
    <p>Everience S.p.A | P.IVA e CF: 07793240966 | <span class="legal-links">Privacy e Cookie Policy</span> | <span
        class="legal-links">Termini e Condizioni</span></p>
  </div>
</div>