<div class="separator" style="border-bottom: 1px solid #DD0555; margin: 0;"></div>
<h3 class="h3" style="color: #DD0555;">Temporary Projects</h3>
<div class="sections-center">
  <section>
    <h3 class="sub-h3">Pilastri Chiave del Ciclo di Vita degli Asset
    </h3>
    <!--
    
    <h4>Il ciclo di vita riguarda l'intero percorso di un asset, dalla sua acquisizione, al suo utilizzo e gestione,
      fino
      alla sua eventuale dimissione.</h4>
    -->
    <div class="assets">
      <app-workplace-management-card *ngFor="let card of cards; let i = index" [img]="card.img"
        [cardTitle]="card.cardTitle" [description]="card.description" [color]="card.color" [border]="card.border"
        style="margin-right: 40px;"></app-workplace-management-card>
    </div>
  </section>
</div>

<section id="lifecycle" style="margin-top: 80px; background-color: #009ddc12; padding: 50px;">
  <h3 class="sub-h3" style="margin: 30px 0;">Asset Lifecycle Management (ALM)</h3>
  <h4 style="margin-bottom: 40px;">Supportiamo la tua
    organizzazione nella
    pianificazione di un
    programma ALM integrato, in cui EVERIENCE svolge un ruolo fondamentale gestione offline degli asset, inclusa
    classificazione, custodia, tracciabilità e distruzione sicura, con
    report dettagliati sulla sostenibilità. Lavoriamo insieme per sviluppare processi sostenibili, agili, scalabili, e
    in grado adattarsi ai cambiamenti delle esigenze aziendali tecnologiche.</h4>
  <!--
      
    <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 35px;" class="asset-items">
      <div class="lifecycle asset-items">
        <img src="../../../../assets/pittogramma-removebg-preview.png" alt="" class="logo">
        <div style="position: absolute; top: 8px; left: 100px;">
          <div class="circle-div">
            <img src="../../../../assets/classification.png" alt="">
            <span>Classificare</span>
          </div>
        </div>
        <div style="position: absolute; top: 8px; right: 100px;">
          <div class="circle-div">
            <img src="../../../../assets/data-security.png" alt="">
            <span>Custodire</span>
          </div>
        </div>
        <div style="position: absolute; bottom: 64px; right: 60px;">
          <div class="circle-div">
            <img src="../../../../assets/task-management.png" alt="">
            <span>Gestire</span>
          </div>
        </div>
        <div style="position: absolute; bottom: -33px; left: 190px;">
          <div class="circle-div">
            <img src="../../../../assets/barcode.png" alt="">
            <span>Tracciare</span>
          </div>
        </div>
        <div style="position: absolute; bottom: 79px; left: 56px;">
          <div class="circle-div">
            <img src="../../../../assets/paper-shredder.png" alt="">
            <span>Distruggere</span>
          </div>
        </div>
      </div>
    </div>
    -->

  <div class="container">
    <div class="donut-chart-block block" id="donut-chart">
      <div class="donut-chart">
        <div class="logo-container">
          <img src="../../../../assets/pittogramma-removebg-preview.png" alt="">
        </div>
        <div id="part1" class="portion-block">
          <div class="circle">
            <img src="../../../../assets/img/classification.png" alt="">
          </div>
        </div>
        <div id="part2" class="portion-block">
          <div class="circle">
            <img src="../../../../assets/img/confidential.png" alt="">
          </div>
        </div>
        <div id="part3" class="portion-block">
          <div class="circle">
            <img src="../../../../assets/img/task-management.png" alt="">
          </div>
        </div>
        <div id="part4" class="portion-block">
          <div class="circle">
            <img src="../../../../assets/img/white-barcode.png" alt="">
          </div>
        </div>
        <div id="part5" class="portion-block">
          <div class="circle">
            <img src="../../../../assets/img/paper-shredder-white.png" alt="">
          </div>
        </div>
        <p class="center"></p>
      </div>
    </div>
  </div>
</section>

<section style="padding-top: 40px;">
  <h3 class="sub-h3">Servizio di Delivery</h3>
  <div style="display: flex; justify-content: center; align-items: center; width: 100%; margin-top: 35px;">
    <div class=" delivery-services">
      <app-sviluppo-card [cardTitle]="'COPERTURA EMEA+'"
        [description]="'Il nostro servizio può coprire, mediante una rete di freelance locali, tutti i paesi dell\'area EMEA+ con SLA Next Business Day (NBD).'"
        [img]="'../../../assets/img/world-white.png'" style="margin: 0 20px 30px 10px;"
        appScrollAnimation="left"></app-sviluppo-card>
      <app-sviluppo-card [cardTitle]="'UFFICIO DISPATCH'"
        [description]="'Un tavolo operativo composto da 4 Delivery Manager capaci di ricevere e gestire i ticket per conto dei nostri clienti. Il servizio è attivo dal Lunedì / Venerdì dalle 9.00 alle 19.00 per l’organizzazione degli interventi field.'"
        [img]="'../../../assets/img/dispatch-white.png'" style="margin: 0 20px 30px 10px;"
        appScrollAnimation="bottom"></app-sviluppo-card>
      <app-sviluppo-card [cardTitle]="'FIELD ENGINEER SMART HAND'"
        [description]="'Equipaggiati con attrezzatura standard, i nostri tecnici possiedono almeno un anno di esperienza in attività di field support (smarthand, troubleshooting, maintenance e replacement). Tutti i tecnicisono fluenti nella lingua locale e hanno un livello B2 o superiore in inglese.'"
        [img]="'../../../assets/img/person-white.png'" style="margin: 0 20px 30px 10px;"
        appScrollAnimation="right"></app-sviluppo-card>
    </div>
  </div>
</section>

<section style="padding: 5px 35px 90px 35px; background-color: #fd82af12;" class="mobile">
  <h3 class="sub-h3">
    Servizio di Logistica Integrata Rivolto all'ALM'
  </h3>
  <div style="display: flex; justify-content: center; height: 350px; margin-top: 50px;">
    <app-logistica-item [title]="'Ricezione, classificazione e mappatura'"
      [description]="'Classificare gli asset IT con barcode permetteuna tracciabilità immediata e accurata, semplificando la gestione e l\'inventario delle risorse aziendali.'"
      [position]="'1'" style="width: 20%;" [height]="'40px'" [top]="'55px'"
      [url]="'../../../assets/img/data-classification.png'" [imgPosition]="'70px'"
      [textPosition]="'100px'"></app-logistica-item>

    <app-logistica-item [title]="'Custodia e sicurezza'"
      [description]="'La custodia conforme degli asset IT garantisce la sicurezza e il rispetto delle normative durante tutto il loro ciclo di vita, dalla conservazione alla dismissione.'"
      [position]="'2'" style="width: 20%;" [height]="'20px'" [top]="'35px'"
      [url]="'../../../assets/img/secure-shield.png'" [imgPosition]="'50px'"
      [textPosition]="'80px'"></app-logistica-item>

    <app-logistica-item [title]="'Gestione e controllo'"
      [description]="'La gestione e il controllo degli asset IT per i dipendenti, anche in sedi differenti, assicurano una distribuzione sicura e tracciabile, ottimizzando supporto e monitoraggio a distanza.'"
      [position]="'3'" style="width: 20%;" [height]="'40px'" [top]="'55px'"
      [url]="'../../../assets/img/team-management.png'" [imgPosition]="'70px'"></app-logistica-item>

    <app-logistica-item [title]="'Portale web'"
      [description]="'La tracciabilità tramite codici a barre e inventario su portale web consente gestione sicura degli asset, con accesso differenziato per divisioni e livelli di sicurezza personalizzati.'"
      [position]="'4'" style="width: 20%;" [height]="'50px'" [top]="'65px'" [url]="'../../../assets/img/website.png'"
      [imgPosition]="'80px'" [textPosition]="'110px'"></app-logistica-item>

    <app-logistica-item [title]="'Distribuzione sostenibile'"
      [description]="'La distruzione sicura degli asset garantisce l\'eliminazione definitiva dei dati sensibili, con rilascio di report detagliatti per certificare il riciclo corretto dei materiali. Questo processo asicura conformità alle normative e riduce l\'impatto ambientale.'"
      [position]="'5'" style="width: 20%;" [height]="'20px'" [top]="'35px'" [url]="'../../../assets/img/logistics.png'"
      [imgPosition]="'50px'" [textPosition]="'80px'"></app-logistica-item>
  </div>
</section>