.timeline-card {
  position: relative;
  height: 100%;
  width: 31%;
  margin: 30px 30px 45px 30px;

  .circle {
    position: absolute;
    top: -50px;
    left: 58px;
    z-index: 1001;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #fff;
    border: 4px solid #009ddc;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 55px;
    }
  }

  .clipped {
    border-radius: 10px;
    background-color: #83d0f5;
    height: 220px;
    width: 190px;
    padding: 30px 7px 0 7px;
    z-index: 1000;
    -webkit-box-shadow: 0px 2px 9px 2px rgba(0, 75, 105, 0.83);
    box-shadow: 0px 1px 3px 0px rgba(0, 75, 105, 0.83);
    @media screen and (min-width: 1200px) {
      height: 250px;
      width: 210px;
    }

    h5 {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 0;
      color: #426fb4;
      font-size: 18px;
      @media screen and (min-width: 1200px) {
        font-size: 19px;
      }
    }
    h6 {
      margin: 0;
      margin-top: 10px;
      text-align: center;
      color: #fff;
      font-size: 15px;
      @media screen and (min-width: 1200px) {
        font-size: 16px;
      }
    }

    p {
      font-size: 14px;
      text-align: center;
      padding: 5px 10px;
      @media screen and (min-width: 1200px) {
        font-size: 16px;
      }
    }
  }
}
