.separator {
  border-bottom: 1px solid #009DDC;
  content: '';
  margin-top: 40px;
}

h3 {
  font-size: 27px;
  font-weight: 500;
  margin-left: 35px;
  color: #009DDC;
  letter-spacing: 2px;
  margin-top: 40px;
  margin-bottom: 0;
}

h4 {
  font-weight: 300;
  margin-left: 55px;
  color: #333;
  margin-top: 7px;

  @media screen and (max-width: 500px) {
    font-size: 15px;
  }

  @media screen and (min-width: 501px) {
    font-size: 13px;
  }
  span{
    color: #111;
    font-weight: 500;
  }
}

.map-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .number-cards-container{
    width: 100%;
    display: flex;
    flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .map-container{
    flex-direction: column;
    .numbers{
      background-color: #83D0F5;
        padding: 12px;
        border-radius: 5px;
        color: #FFF;
        width: 70%;
        margin-bottom: 25px;
      h1{
        margin: 0;
      }
      span{
        color: #426FB4;
      }
    }
      img {
          width: 100%;
          margin-bottom: 30px;
        }
  }
  }

  @media screen and (min-width: 501px) {
    .numbers {
        background-color: #83D0F5;
        padding: 12px;
        border-radius: 5px;
        color: #FFF;
        width: 70%;
        margin-bottom: 25px;
    
        h1 {
          margin: 0;
        }
    
        span {
          color: #426FB4;
        }
      }
    
      img {
        width: 100%;
      }
  }