<section>
  <div class="separator" style="border: 1px solid #009DDC"></div>
  <h3 style="color: #009DDC">Un servizio mondiale</h3>
  <h4>Everience offre servizi in tutto il mondo grazie alla sua <span>“Global Alliance”</span>,<br> una rete di
    partners strategici</h4>
  <div class="map-container">
    <div style="margin-bottom: 30px; margin-top: 20px;">
      <img src="../../../assets/map.png" alt="">
    </div>
    <div class="number-cards-container">
      <div class="numbers">
        <h1 [countUp]=65 [duration]=5000></h1>
        <span>PAESI</span>
      </div>
      <div class="numbers">
        <h1 [countUp]=25 [duration]=5000></h1>
        <span>LINGUE</span>
      </div>
      <div class="numbers">
        <h1 [countUp]=3000 [duration]=5000>+</h1>
        <span>PERSONE</span>
      </div>
    </div>
  </div>

</section>