$porcelain: #f8f7f2;
$tuscan-sun: #e5b72f;
$sea-green: #168a52;
$flag-red: #c92a2a;
$shadow-grey: #202124;

.up {
  position: fixed;
  right: 35px;
  bottom: 30px;
  border-radius: 50%;
  border: none;
  background-color: $flag-red;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;

  i {
    color: #FFF;
  }
}
@media screen and (max-width: 500px) {
  .up {
    height: 40px;
    width: 40px;

    i {
      font-size: 30px;
    }
  }
}

@media screen and (min-width: 501px) {
  .up {
    height: 55px;
    width: 55px;

    i {
      font-size: 35px;
    }
  }
}