//hero
@media screen and (max-width: 500px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(34, 130, 207, 0.295),
        rgba(255, 255, 255, 0.443),
        rgba(255, 255, 255, 0.9),
        rgb(255, 255, 255)
      ),
      url("../../../assets/img/hero.jpg");
    width: 100%;
    height: calc(60vh - 55px);
    background-size: cover;
    background-position: bottom;
    color: white;
  }
  .size {
    font-size: 22px;
  }
  .separator {
    width: 30%;
  }
}
@media screen and (min-width: 501px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(34, 130, 207, 0.295),
        rgba(255, 255, 255, 0.443),
        rgba(255, 255, 255, 0.9),
        rgb(255, 255, 255)
      ),
      url("../../../assets/img/hero.jpg");
    width: 100%;
    height: calc(80vh - 55px);
    background-size: cover;
    background-position: center;
    color: white;
  }
  .size {
    font-size: 27px;
  }
  .separator {
    width: 30%;
  }
}

//first text and moving separator
.text {
  padding: 25px 25px 0 25px;
  text-align: center;
  margin-top: -215px;
  margin-bottom: 30px;
  font-weight: 400;
  span {
    font-weight: 500;
    color: #dd0555;
  }
}
@media screen and (max-width: 500px) {
  .text {
    font-size: 22px;
    margin-top: -150px;
  }
}
@media screen and (min-width: 501px) {
  .text {
    font-size: 40px;
  }
}

.separator {
  border-bottom: 1px solid #dd0555;
  transform-origin: center;
  animation: growImage 2.5s ease-in-out forwards;
}

@keyframes growImage {
  0% {
    transform: scale(1.1, 1.1);
    /* Initial scale */
  }

  100% {
    transform: scale(5, 1);
    /* Final scale */
  }
}

.second-text {
  text-align: center;
  font-size: 15px;
  padding: 10px 20px 20px 20px;
}

//parallax section
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 25px;
}

.img-1 {
  background-image: url("../../../assets/img/hero.jpg");
}
.img-2 {
  background-image: url("../../../assets/img/graphics.jpg");
}

@media screen and (max-width: 500px) {
  .parallax {
    height: 45vh;
  }
}

@media screen and (min-width: 501px) {
  .parallax {
    height: 70vh;
  }
}

.blue-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #009ddce0;
  color: #fff;
  width: 50%;
  border-radius: 40px;
  margin: 55px 0;
  justify-content: center;
  text-align: center;
  @media screen and (max-width: 700px) {
    padding: 20px 30px;
    font-size: 15px;
    margin: 26px 0;
    width: 77%;
  }
  @media screen and (min-width: 701px) and (max-width: 1200) {
    padding: 20px;
    font-size: 18px;
    line-height: 1.3;
  }
  @media screen and (min-width: 1201px) {
    padding: 50px;
    font-size: 21px;
    line-height: 1.6;
  }
}

@media screen and (max-width: 500px) {
  .timeline {
    display: none;
  }
}

@media screen and (min-width: 1500px) {
  .sections-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15%;
    max-width: 1900px;
  }
}

.blue-div,
.red-div,
.green-div {
  opacity: 0;
  transform: translateY(100px);
  /* Increased distance for more noticeable movement */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  /* Smoother transition */
}
