<div class="hero">
</div>
<div class="text size">
  Everience <span>agevola</span> la digitalizzazione aziendale
</div>
<div style="display: flex; justify-content: left;">
  <div class="separator"></div>
</div>
<!--separator-->
<!--
  <div class="second-text">
    Espandi la potenza del digitale per aumentare l'efficienza della tua organizzazione
  </div>
    <div class="btn-container">
      <button (click)="goToDescription()">
        Dicono di noi
      </button>
    </div>
  -->

<section>
  <h3 style="color: #DD0555">Chi Siamo</h3>
  <h4>Everience è una realtà IT che accelera le prestazioni delle aziende facilitando gli usi digitali.</h4>
  <div class="timeline" style="display: none;">
    <div class="timeline-card">
      <div class="circle" style="top:-67px">
        1993
      </div>
      <div class="clipped" style="position: absolute; top: -36px;">
        <h5>NEURONES</h5>
        <p>15k dipendenti<br> Quotata sulla Borsa Francese (NRO.PA)<br> 1.1€ market cap</p>
      </div>
    </div>
    <div class="timeline-card">
      <div class="circle" style="top:-102px">
        2000
      </div>
      <div class="clipped" style="position: absolute; top: -71px;">
        <h5>EVERIENCE GROUP</h5>
        <p>Presente in Italia, Francia, Germania, Benelux, Romania e Tunisia<br> 3500 dipendenti<br>250M€ fatturato</p>
      </div>
    </div>
    <div class="timeline-card">
      <div class="circle">
        2020
      </div>
      <div class="clipped">
        <h5>EVERIENCE SPA</h5>
        <p>Filiale italiana<br> 150 dipendenti<br>6M di € fatturato</p>
        <p>Acquisizione dalla precedente società italiana NETECO SRL</p>
      </div>
    </div>
  </div>

  <div>
    <img src="../../../assets/1 13.png" alt="graph" width="100%" style="margin-top: -5px;">
  </div>
  <div style="display: flex; justify-content: center;  align-items: center; flex-direction: column;">
    <p class="paragraph" style="width: 85%; margin-top: 30px;">In qualità di filiale di un'azienda francese
      specializzata nel supporto
      agli utenti, Everience
      è
      presente su scala
      internazionale per afrontare le sfide sia dei grandi grupppi globali che delle organizzazioni locali</p>
    <p class="paragraph" style="width: 85%; margin-bottom: 30px;">Siamo specializzati in Digital Transformation.<br> Ciò
      che ci distingue è il nostro potere
      innovativo, la nostra dedizione per la qualità, decenni di esperienza e una visione chiara per gli
      sviluppi
      futuri.</p>
  </div>
  <div style="display: flex; justify-content: left; margin-top: 65px;">
    <div class="separator" style="border: 0.5px solid #009DDC;"></div>
  </div>
  <div class="parallax img-2">
  </div>
  <h3 style="color: #009DDC">Our Mission</h3>
  <p class="paragraph" style="width: 85%; margin-left: 30px;">La misione di Everience è facilitare le trasformazioni
    digitali delle aziende, ottimizzando i
    processi IT e migliorando l'esperienza utente. <br>Puntiamo a massimizzare la produttività e la soddisfazzione</p>
  <app-map></app-map>
</section>