<div class="case-studies-styles">
  <div class="separator" style="border-bottom: 1px solid #DD0555; margin: 0;"></div>
  <h3 class="h3" style="color: #DD0555;">Cross channel</h3>
  <div class="sections-center">
    <h4>Creazione di un percorso utente senza interruzioni: Offri più canali di comunicazione<br> in linea con le nuove
      esigenze
      e usi dei tuoi dipendenti.</h4>
  </div>
  <div class="case-studies-texts">
    <div class="parallax img"></div>
    <h5>I vantaggi di un service desk <span style="color: #DD0555;">multicanale</span></h5>
    <h6>Un’esperienza utente semplificata</h6>
    <p>Il nostro contact center multicanale fornisce un unico punto di contatto per tutte le richieste. I tuoi utenti
      possono
      interagire con il Supporto tramite il canale di loro scelta quando ne hanno bisogno e in base a ciò che stanno
      facendo.
      Nessuna ripetizione della cronologia quando si cambia canale: le informazioni seguono affinché il loro viaggio sia
      senza
      interruzioni. Possono aprire un ticket da un portale, essere informati del follow-up tramite chat e chiudere
      facilmente
      il loro ticket tramite e-mail.</p>
    <h6>Un’esperienza utente semplificata</h6>
    <p>Il nostro contact center multicanale fornisce un unico punto di contatto per tutte le richieste. I tuoi utenti
      possono
      interagire con il Supporto tramite il canale di loro scelta quando ne hanno bisogno e in base a ciò che stanno
      facendo.
      Nessuna ripetizione della cronologia quando si cambia canale: le informazioni seguono affinché il loro viaggio sia
      senza
      interruzioni. Possono aprire un ticket da un portale, essere informati del follow-up tramite chat e chiudere
      facilmente
      il loro ticket tramite e-mail.</p>
    <h6>Risparmiare tempo per tutti</h6>
    <p>Con l’intelligenza artificiale, non dovrai più gestire le richieste di base e annegare in incidenti di massa.
      Progettiamo bot intelligenti per automatizzare le interazioni a basso valore aggiunto. Tutti ne traggono
      beneficio:
    </p>
    <ul>
      <li>Il supporto è più disponibile e i team hanno il tempo di elaborare richieste complesse.</li>
      <li>Gli utenti non perdono più tempo a contattare l’assistenza e hanno accesso immediato alle informazioni 24 ore
        su
        24, 7
        giorni su 7.</li>
      <li>L’azienda guadagna in produttività.</li>
    </ul>
  </div>
</div>
<app-footer></app-footer>