<div class="separator" style="border-bottom: 1px solid #009DDC; margin: 0;"></div>
<h3 class="h3" style="color: #009DDC;">Infrastructure Engineering</h3>
<section>
  <p style=" margin-top: 10px;">
    Progettiamo, gestiamo e ottimizziamo infrastrutture IT sia <span style="font-weight: 500;">on-premise che
      cloud</span>, garantendo stabilità, scalabilità e
    continuità operativa.
    Supportiamo le aziende con <span style="font-weight: 500;">IT Project Management</span>, supporto agli utenti finali
    e
    interventi tecnici mirati su
    infrastrutture complesse.
  </p>
  <div class="sections-center">
    <div class="list">
      <ul>
        <li>IT Project Management (certificato PMP/ITIL)</li>
        <li>Infrastrutture ibride (on-prem / cloud)</li>
        <li>Supporto tecnico avanzato e di prossimità</li>
        <li>Expertise su strumenti come Azure, AWS, Office 365, PRTG, Ekahau</li>
      </ul>
    </div>
  </div>
</section>
<div class="separator" style="border-bottom: 1px solid #009DDC;"></div>
<h3 class="first-h6" style="color: #009DDC;">WIFI Survey</h3>
<section id="ekahau">
  <div class="sections-center">

  </div>
  <div style="display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;">
    <img src="../../../../assets/img/ekahau.png" alt="" class="ekahau-img">

    <p style=" margin-top: 50px;">Un'analisi approfondita delle prestazioni della rete wireless è essenziale per
      identificare zone senza
      copertura
      e
      ottimizzare la disposizione degli Access Point, per rilevare e mitigare interferenze esterne e per progettare
      una
      nuova
      infrastruttura wireless o pianificarne l’ottimizzazione.</p>

  </div>


  <h3 class="sub-h3">Quali strumenti utilizziamo?</h3>
  <div class="video-text-container">
    <div class="video-container" appScrollAnimation="left">
      <video height="500px" width="400px" autoplay controls>
        <source src="../../../../assets/video/wifi-video.MOV" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="text-container">
      <div appScrollAnimation="right">
        <h6 class="h6">EKAHAU</h6>
        <p>Leader nel settore, offre strumenti avanzati per la progettazione e l'analisi delle
          infrastrutture wi-Fi.</p>
      </div>
      <div style="margin-top: 20px;" appScrollAnimation="right">
        <h6 class="h6">EKAHAU SIDEKICK</h6>
        <p>
          La svolta nella Rilevazione Wi-Fi. Strumento postatile per l'analisi Wi-Fi, garantisce un rilevamento preciso
          della
          copertura e delle interferenze.
        </p>
      </div>
      <div style="margin-top: 20px;" appScrollAnimation="right">
        <h6 class="h6">EKAHAU AI PRO</h6>
        <p>
          L'Intelligenza Artificiale al Servizio del Wi-Fi. Software di progettazione Wi-Fi con capacità predittive
          basate
          su AI. Simulazioni dettagliate per la progettazione ottimale della rete.
        </p>
      </div>
    </div>
  </div>
</section>
<div class="separator" style="border-bottom: 1px solid #009DDC;"></div>
<h3 class="sub-h3" style="color: #009DDC;">WYEBOT Sensor</h3>
<section id="wyebot">
  <div style="display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;">
    <img src="../../../../assets/img/wyebot.jpg" alt="" class="wyebot-img">
    <p>Sensore installabile presso il cliente per il monitoraggio e il troubleshooting delle prestazioni della rete
      wired/wireless.</p>

  </div>


  <div class="sections-center">
    <div class="list">
      <ul>
        <li>Vendoragnostic, facile da installare e configurare.
          Permette di identificare problematiche relative alle prestazioni dei client senza un’indagine approfondita dei
          log
          grazie al supporto dell’IA (sic).<br>Ideale per un cliente sprovvisto di competenze specifiche/infrastruttura
          moderna</li>
        <li>Viene offerto come servizio, con un costo annuale basato sul numero di sensori</li>
        <li>Se tecnicamente l’effettiva utilità è discutibile, dal punto di vista commerciale e del marketing ha delle
          potenzialità.<br>
          «Stress-FreeWiFi Optimization Delivered Instantly”</li>
      </ul>
    </div>
  </div>
</section>