<div class="separator" style="border-bottom: 1px solid #009DDC;"></div>
<h3 style="color: #009DDC;">WIFI Survey</h3>
<h4>Un''analisi approfondita delle prestazioni della rete wireless è essenziale per identificare zone senza coperturae
  ottimizzare la disposizione degli Access Point, per rilevare e mitigare interferenze esterne e per progettareuna nuova
  infrastruttura wireless o pianificarne l’ottimizzazione.</h4>
<section>
  <h5 class="h5">Quali strumenti utilizziamo?</h5>
  <h6 class="h6">EKAHAU</h6>
  <p>Leader nel settore, offre strumenti avanzat per la progettazione e l'analisi delle infrastrutture wi-Fi.</p>
  <!--
    <div>
      <img src="../../../../assets/ekahau.png" alt="" width="100%">
    </div>
  -->
  <div class="parallax">
  </div>

  <div class="video-text-container">
    <div class="video-container">
      <video height="500px" controls>
        <source src="../../../../assets/wifi-video-mp4.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="text-container">
      <h6 class="h6">EKAHAU SIDEKICK</h6>
      <p>
        La svolta nella Rilevazione Wi-Fi. Strumento postatile per l'analisi Wi-Fi, garantisce un rilevamento preciso
        della
        copertura e delle interferenze.
      </p>
      <h6 class="h6">EKAHAU AI PRO</h6>
      <p>
        L'Intelligenza Artificiale al Servizio del Wi-Fi. Software di progettazione Wi-Fi con capacità predittive basate
        su
        AI. Simulazioni dettagliate per la progettazione ottimale della rete.
      </p>
    </div>
  </div>
</section>