<div class="separator" style="border-bottom: 1px solid #009DDC; margin: 0;"></div>
<h3 class="h3" style="color: #009DDC;">WIFI Survey</h3>
<div class="sections-center">
  <h4>Un'analisi approfondita delle prestazioni della rete wireless è essenziale per identificare zone senza copertura e
    ottimizzare la disposizione degli Access Point, per rilevare e mitigare interferenze esterne e per progettare una
    nuova
    infrastruttura wireless o pianificarne l’ottimizzazione.</h4>
</div>
<section id="ekahau">
  <h3 class="sub-h3">Quali strumenti utilizziamo?</h3>
  <div class="mobile-only">
    <img src="../../../../assets/ekahau.png" alt="" width="100%">
  </div>

  <div class="parallax">
  </div>

  <div class="video-text-container">
    <div class="video-container" appScrollAnimation="left">
      <video height="500px" autoplay controls>
        <source src="../../../../assets/wifi-video.MOV" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="text-container">
      <div appScrollAnimation="right">
        <h6 class="h6">EKAHAU</h6>
        <p>Leader nel settore, offre strumenti avanzati per la progettazione e l'analisi delle
          infrastrutture wi-Fi.</p>
      </div>
      <div style="margin-top: 20px;" appScrollAnimation="right">
        <h6 class="h6">EKAHAU SIDEKICK</h6>
        <p>
          La svolta nella Rilevazione Wi-Fi. Strumento postatile per l'analisi Wi-Fi, garantisce un rilevamento preciso
          della
          copertura e delle interferenze.
        </p>
      </div>
      <div style="margin-top: 20px;" appScrollAnimation="right">
        <h6 class="h6">EKAHAU AI PRO</h6>
        <p>
          L'Intelligenza Artificiale al Servizio del Wi-Fi. Software di progettazione Wi-Fi con capacità predittive
          basate
          su AI. Simulazioni dettagliate per la progettazione ottimale della rete.
        </p>
      </div>
    </div>
  </div>
</section>
<div class="separator" style="border-bottom: 1px solid #009DDC;"></div>
<h3 class="sub-h3" style="color: #009DDC;">WYEBOT Sensor</h3>
<section id="wyebot">
  <div class="mobile-only">
    <img src="../../../../assets/wyebot.png" alt="" width="100%">
  </div>
  <div class="parallax">
    <div class="inner-parallax" appScrollAnimation="bottom">
      <p>Sensore installabile presso il cliente per il monitoraggio e il troubleshooting delle prestazioni della rete
        wired/wireless.</p>
    </div>
  </div>

  <div class="sections-center">
    <div class="list">
      <ul>
        <li>Vendoragnostic, facile da installare e configurare.
          Permette di identificare problematiche relative alle prestazioni dei client senza un’indagine approfondita dei
          log
          grazie al supporto dell’IA (sic).<br>Ideale per un cliente sprovvisto di competenze specifiche/infrastruttura
          moderna</li>
        <li>Viene offerto come servizio, con un costo annuale basato sul numero di sensori</li>
        <li>Se tecnicamente l’effettiva utilità è discutibile, dal punto di vista commerciale e del marketing ha delle
          potenzialità.<br>
          «Stress-FreeWiFi Optimization Delivered Instantly”</li>
      </ul>
    </div>
  </div>
</section>