.label-before {
  line-height: 20px;
  font-size: 12px;
  top: -10px;
  background: #FFF;
  padding: 0 6px;
  left: 9px;
}
.content-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  .form-container{
    width: 70%;
      margin-top: 30px;
      margin-bottom: 50px;
      border-radius: 20px;
    background-color: #FFF;
  }
  .form-header{
    height: 150px;
    background-image: url("../../../assets/net.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 5px solid #000;
    margin-bottom: 65px;
  }
  form{
    margin-bottom: 30px;
    .inputs-container{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 10px 0px 15px 0px;
      textarea::-webkit-scrollbar-button {
          display: none;
        }
    }
    
    .button-container{
      width: 97%;
        display: flex;
        justify-content: flex-end;
      button{
        width: 200px;
          padding: 10px;
          margin-top: 30px;
          font-size: 17px;
          border-radius: 15px;
          border: none;
          background-color: #FAB716;
          color: #FFF;
          cursor: pointer;
      }
      button:hover{
        background-color: #db9f13;
      }
    }
  }
}

//label animation

.field {
  position: relative;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 45%;
  label::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 40px;
    font-size: 14px;
    color: #777;
    transition: 300ms all;
  }
  .input {
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 3px;

    &:focus {
      outline: 0;
      border-color: #FAB716;
    }

    &:valid+label::before {
      @extend .label-before;
      content: attr(data-title);
    }

    &:focus+label::before {
      @extend .label-before;
      color: #FAB716;
    }
  }
}