<section>
  <div class="separator" style="border: 0.5px solid #FAB716; margin: 0;"></div>
  <h3 class="h3" style="color: #FAB716;">Unisciti a noi</h3>
  <h4 style="margin-bottom: 30px;">Costruiamo un futuro insieme, consulta le posizioni aperte e inviaci il tuo
    curriculum</h4>
  <div class="main">
    <div class="input-container">
      <div style="width: 60%;">
        <img src="../../../assets/search.png" alt="" width="20px">
        <input type="text" class="search-bar" placeholder="Cerca per ruolo o locazione">
      </div>
    </div>
    <div class="cards-container">
      <div *ngFor="let job of jobsList">
        <app-job-card [role]="job.role" [companyName]="job.company" [description]="job.description"
          [seniority]="job.seniority" [contratto]="job.contract_type" [remuneration]="job.ral"
          [frontend_tech]="job.frontend_tech" [backend_tech]="job.backend_tech" [devops_tech]="job.devops_tech"
          [db_tech]="job.db_tech"></app-job-card>
      </div>
    </div>
  </div>
</section>