<div class="separator" style="border-bottom: 1px solid #DD0555;"></div>
<h3 style="color: #DD0555;">Sviluppo e Digital Factory</h3>
<h4>Creiamo soluzioni digitali innovative per accelerare la tua trasformazione tecnologica.</h4>
<p class="paragraph">
  La nostra strategia tecnologica si basa su una selezione di linguaggi di programmazione e strumenti ampiamente
  richiesti e versatili. Questa offerta si arricchisce ulteriormente grazie al nostro programma di formazione per
  giovani talenti
  e la collaborazione con fornitori qualificati.
</p>
<div class="card-container">
  <app-digital-factory-card [cardTitle]="'Supporto applicativo e formazione di giovani talenti'"
    [description]="'Formiamo giovani professionisti sulle tecnologie richieste, offrendo risorse qualificate a tariffe vantaggiose.'"
    [img]="'../../../assets/net.jpg'"></app-digital-factory-card>
  <app-digital-factory-card [cardTitle]="'Progetti di sviluppo con i nostri fornitori'"
    [description]="'Collaboriamo con fornitori esperti per larealizzazione di progetti di sviluppo su misura.'"
    [img]="'../../../assets/ux.jpg'"></app-digital-factory-card>
</div>
<!---Area Sviluppo--->
<div class="separator" style="border-bottom: 1px solid #DD0555;"></div>
<h3 style="color: #DD0555;">Area Sviluppo</h3>
<h4>Subtitulo..?</h4>
<div style="display: flex; justify-content: space-evenly; align-items: center;">
  <div class="timeline" style="width: 70%;">
    <app-sviluppo-card [cardTitle]="'DATA'"
      [description]="'È l\'insieme delle informazioni raccolte e utilizzate per prendere decisioni, generare report e migliorare le operazioni aziendali, come i dati dei clienti, le transazioni finanziarie e le analisi di mercato, e serve a supportare i sistemi backend e frontend.'"
      [img]="'../../../assets/dashboard.png'"></app-sviluppo-card>
    <app-sviluppo-card [cardTitle]="'BACKEND'"
      [description]="'Rappresenta la parte nascosta del sistema che gestisce la logica dell\'applicazione, le interazioni con il database e i server, come server, database e API, ed è il motore che alimenta le operazioni complesse delle applicazioni.'"
      [img]="'../../../assets/backend.png'"></app-sviluppo-card>
    <app-sviluppo-card [cardTitle]="'FRONTEND'"
      [description]="'È l\'interfaccia visibile con cui gli utenti interagiscono, comprendente elementi come siti web, app mobili, pulsanti e moduli di login, ed è progettato per offrire un\'interazione intuitiva e facile da usare.'"
      [img]="'../../../assets/frontend.png'"></app-sviluppo-card>
  </div>
</div>