// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$Everience-IT-primary: mat.define-palette(mat.$indigo-palette);
//$Everience-IT-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
//$Everience-IT-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
/*$Everience-IT-theme: mat.define-light-theme(
  (
    color: (
      primary: $Everience-IT-primary,
      accent: $Everience-IT-accent,
      warn: $Everience-IT-warn,
    ),
  )
);
*/

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include mat.all-component-themes($Everience-IT-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
.heading {
  font-family: "Montserrat", serif;
}

.separator {
  width: 30%;
  content: "";
  margin-top: 40px;
  transform-origin: center;
  animation: growImage 2.5s ease-in-out forwards;
  @media screen and (min-width: 1500px) {
    margin-left: 10%;
  }
}

@keyframes growImage {
  0% {
    transform: scale(1.1, 1.1);
    /* Initial scale */
  }

  100% {
    transform: scale(5, 1);
    /* Final scale */
  }
}

.h3 {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 40px;
  margin-bottom: 0;
  @media screen and (max-width: 800px) {
    margin-left: 6%;
    font-size: 32px;
    margin-top: 25px;
  }
  @media screen and (min-width: 801px) {
    font-size: 65px;
    text-align: center;
  }
}

.who-w-a {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: 14%;

  @media screen and (max-width: 800px) {
    font-size: 33px;
    margin-left: 8%;
    margin-top: 17px;
  }
  @media screen and (min-width: 801px) {
    font-size: 65px;
    margin-left: 0%;
    text-align: center;
  }
}

.sub-h3 {
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-top: 45px;
  margin-bottom: 0;
  text-align: center;
  font-weight: 500;
  @media screen and (max-width: 800px) {
    font-size: 19px;
    margin-top: 17px;
  }

  @media screen and (min-width: 801px) {
    font-size: 30px;
    text-align: center;
  }
}

.h4-who-w-a {
  font-weight: 300;
  margin-left: 10%;
  color: #333;
  margin-top: 7px;
  margin-bottom: 20px;
  text-align: justify;

  @media screen and (max-width: 800px) {
    font-size: 17px;
    margin-right: 10%;
  }

  @media screen and (min-width: 801px) {
    font-size: 22px;
    font-weight: 500;
    margin-left: 0%;
    text-align: center;
  }
}

h4 {
  font-weight: 300;
  color: #333;
  margin-top: 7px;
  margin-bottom: 20px;
  text-align: justify;

  @media screen and (max-width: 800px) {
    font-size: 15px;
    margin-left: 11%;
    margin-right: 10%;
  }

  @media screen and (min-width: 801px) {
    font-size: 20px;
    text-align: center;
  }
}

.paragraph {
  padding: 10px 25px 0 35px;

  text-align: left;
  margin-bottom: 0px;

  @media screen and (max-width: 500px) {
    font-size: 15px;
  }

  @media screen and (min-width: 501px) {
    font-size: 21px;
  }
}

.case-studies-styles {
  @media screen and (max-width: 1300px) {
    .sections-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 10% 20px 10%;
    }
  }
  @media screen and (min-width: 1301px) {
    .sections-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 15% 30px 15%;
      max-width: 1900px;
    }
  }

  h6 {
    margin-top: 30px;
    margin-bottom: 5px;
    color: #dd0555;
  }

  @media screen and (max-width: 800px) {
    .case-studies-texts {
      padding: 0 7%;
    }
    h5 {
      font-size: 19px;
    }
    h6 {
      font-size: 17px;
    }
    p {
      font-size: 14px;
    }
    li {
      font-size: 14px;
    }
  }

  @media screen and (min-width: 801px) and (max-width: 1300px) {
    .case-studies-texts {
      padding: 0 10%;
    }
    h5 {
      font-size: 21px;
    }
    h6 {
      font-size: 19px;
    }
    p {
      font-size: 17px;
    }
    li {
      font-size: 17px;
    }
  }

  @media screen and (min-width: 1301px) {
    .case-studies-texts {
      padding: 0 15%;
      max-width: 1900px;
    }
    h5 {
      font-size: 23px;
    }
    h6 {
      font-size: 21px;
    }
    p {
      font-size: 19px;
    }
    li {
      font-size: 19px;
    }
  }

  .parallax {
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 25px;
  }

  @media screen and (max-width: 500px) {
    .parallax {
      height: 35vh;
    }
  }

  @media screen and (min-width: 501px) {
    .parallax {
      height: 60vh;
    }
  }

  ul {
    margin-bottom: 40px;
  }
  ul li {
    list-style: square;
  }
  ul li::marker {
    color: #dd0555;
    font-size: 20px;
  }
}
