<div class="menu">
  <span (click)="navigateTo('home')">
    <img src="../../../assets/logo.png" alt="">
  </span>
  <span style="display: flex; flex-direction: row; align-items: center;">
    <div class="desktop-menu">
      <span (click)="navigateTo('home')" [class.active]="currentTab === 'home'">
        About us
      </span>
      <span (click)="navigateTo('services')" [class.active]="currentTab === 'services'">
        Servizi
      </span>
      <span (click)="navigateTo('case-studies')" [class.active]="currentTab === 'case-studies'">
        Case Studies
      </span>
      <span (click)="navigateTo('media')" [class.active]="currentTab === 'media'">
        Media
      </span>
      <span (click)="navigateTo('join-us')" [class.active]="currentTab === 'join-us'">
        Lavora con noi
      </span>
      <span (click)="navigateTo('contacts')" [class.active]="currentTab === 'contacts'">
        Contatti
      </span>
    </div>
    <div class="language-wrapper">
      <div class="selected-language" (click)="showLanguages()"></div>
      <div [ngClass]="showLanguageOptions ? 'flags' : 'selector'">
        <div class="flag">
          <img src="../../../assets/eng.png" alt="EN" style="width: 15px;">
        </div>
      </div>
    </div>
    <i (click)="showMenu()" class="material-icons hamburguer">menu</i>
  </span>
</div>
<!--MOBILE HIDDEN MENU-->
<div class="links-container">
  <div *ngIf="isShowing" class="hidden-menu">
    <div (click)="navigateTo('services')">
      <span>Servizi</span>
      <span class="i-alignment">
        <i class="material-icons">keyboard_arrow_down</i>
      </span>
    </div>
    <div>
      <span (click)="navigateTo('case-studies')">Case studies</span>
    </div>
    <div>
      <span (click)="navigateTo('media')">Media</span>
    </div>
    <span>Lavora con Noi</span>
    <span (click)="navigateTo('contacts')">Contatti</span>
  </div>
</div>
<!--STUDY CASES for Desktop
<div class="links-container">
  <div *ngIf="showCases" class="hidden-menu">
    <div>
      <span>Caso 1</span>
    </div>
    <div>
      <span>Caso 2</span>
    </div>
    <div>
      <span>Caso 3</span>
    </div>
  </div>
</div>
-->