<div class="separator" style="border-bottom: 1px solid #FAB716;"></div>
<h3 class="h3" style="color: #FAB716;">Case History Delivery</h3>
<section class="container">
  <div class="desktop-view">
    <app-case-study-item [cardTitle]="'Mass Market'" [cardSubtitle]="'2020 - Italia'"
      [description]="'Traffic counter device installation in all stores'"
      [img]="'../../../assets/mass-market.png'"></app-case-study-item>
    <app-case-study-item [cardTitle]="'Luxury Brand'" [cardSubtitle]="'2021 - Italia'"
      [description]="'Roll-out 200 cashier stations + back office stations'"
      [img]="'../../../assets/luxury.png'"></app-case-study-item>
    <app-case-study-item [cardTitle]="'Telecomunicazioni'" [cardSubtitle]="'2021 - Italia'"
      [description]="'Roll-out 300 router Cisco at CIGL offices'"
      [img]="'../../../assets/telecom.png'"></app-case-study-item>
    <app-case-study-item [cardTitle]="'Luxury Brand'" [cardSubtitle]="'2018 - 2021'"
      [description]="'Ongoing Maintenance Proximity Store Support in Italia'"
      [img]="'../../../assets/luxury.png'"></app-case-study-item>
  </div>
  <div class="desktop-view">
    <app-case-study-item [cardTitle]="'Luxury Brand'" [cardSubtitle]="'2022 - Italia'"
      [description]="'Roll-out iPhone stores'" [img]="'../../../assets/luxury.png'"></app-case-study-item>
    <app-case-study-item [cardTitle]="'Luxury Brand'" [cardSubtitle]="'2021 - EMEA'"
      [description]="'Rollout cashier stations and software Xstore, 11 countries, 60 cities'"
      [img]="'../../../assets/luxury.png'"></app-case-study-item>
    <app-case-study-item [cardTitle]="'Luxury Brand'" [cardSubtitle]="'2023 - EMEA'"
      [description]="'Roll-out access point 7 countries, 27 cities, 450 devices'"
      [img]="'../../../assets/luxury.png'"></app-case-study-item>
  </div>
</section>

<section>
  <div class="separator" style="border-bottom: 1px solid #FAB716;"></div>
  <h3 class="h3" style="color: #FAB716;">Altri Clienti e Progetti</h3>
  <section class="container">
    <div class="desktop-view">
      <app-case-study-item [cardTitle]="'Food e Beverage'" [cardSubtitle]="'2500 end-users, 8 countries'"
        [description]="'Onsite Support, Infrastructure Support'" [img]="'../../../assets/g-uk-it-fr.jpg'"
        [color]="'#AFE4FF'" [border]="'5px solid #FFF'"></app-case-study-item>
      <app-case-study-item [cardTitle]="'Trasporto'" [cardSubtitle]="'600 end users, 1 country'"
        [description]="'Roll Outs, Service Desk Onsite Support, Developement'" [img]="'../../../assets/it.png'"
        [color]="'#AFE4FF'" [border]="'5px solid #FFF'"></app-case-study-item>
      <app-case-study-item [cardTitle]="'Gruppo Luxury'" [cardSubtitle]="'5.000 end-users, 4 countries'"
        [description]="'Service Desk, Onsite Support, Roll Outs, Infrastracture Support'"
        [img]="'../../../assets/s-uk-it-fr.png'" [color]="'#AFE4FF'" [border]="'5px solid #FFF'"></app-case-study-item>
      <app-case-study-item [cardTitle]="'Luxury Brand'" [cardSubtitle]="'2500 end-users, 8 countries'"
        [description]="'Onsite Support, Infrastructure Support'" [img]="'../../../assets/a-uk.png'" [color]="'#AFE4FF'"
        [border]="'5px solid #FFF'"></app-case-study-item>
    </div>
    <div class="desktop-view">
      <app-case-study-item [cardTitle]="'Trasporto'" [cardSubtitle]="'600 end-users, 2 countries'"
        [description]="'Service Desk, Onsite Support'" [img]="'../../../assets/ir-a-it.png'" [color]="'#AFE4FF'"
        [border]="'5px solid #FFF'"></app-case-study-item>
      <app-case-study-item [cardTitle]="'Luxury Brand'" [cardSubtitle]="'6500 end-users, 8 countries'"
        [description]="'Onsite Support, Service Desk, Infrastructure'" [img]="'../../../assets/fr-uk-a-t.png'"
        [color]="'#AFE4FF'" [border]="'5px solid #FFF'"></app-case-study-item>
    </div>
  </section>
</section>